#tasks.col-md-6
  .summary
    h1.text-center 10%&nbsp;
      small [1/10]
    .progress
      .progress-bar.progress-bar-success(role='progressbar',
        aria-valuenow='10',
        aria-valuemin='0',
        aria-valuemax='100',
        style='width: 10%;')
          span.sr-only 10% completed
      
  .tasks
    each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      .panel.panel-default.task-panel(id='task' + val)
        .panel-body
          .row
            .col-sm-1.status
              i.fa.fa-lg.fa-square-o
            .col-sm-10.item
              span.label.label-default project
              span.item-text= 'task' + val
            .col-sm-1.arrow
              i.fa.fa-lg.fa-angle-right
        .panel-footer(style='display:none')
          .row
            .col-sm-11
            .col-sm-1.trash
              i.fa.fa-remove
